:root{
    --background-color:#1E1E1E;
    --background-menu:#353535;
}
body{
    overscroll-behavior-x: none;
    height: 100vh;
    display: flex;
}
body button{
    border-radius: 8px;
    padding: 8px;
}
main h1{
    margin-bottom: 25px;
}
main{
    display: flex;
    padding: 45px 15px 0px 45px;
    flex-direction: column;
    align-items: center;
}
main section{
    border: 2px solid #636363;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow-y: scroll;
    height: 80vh;
    width: 50vw;
}
.news{
    list-style: none;
}
.news li{
    margin-top: 25px;
    border-bottom: 3px dotted rgba(94, 94, 94, 0.333);
    padding-bottom: 25px;
}